@import 'global';
@import 'variables';

h1 {
    font-size: 8.4rem;
    display: flex;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    font-family: 'Red Hat Text', sans-serif;
}

