@import 'global';
@import 'variables';

#title {
    margin: 30px 13px 13px 13px;

    h1 {
        color: $orange-color;
        font-size: 3.6rem;
        text-align: center;
    }

    p {
        color: $darkBlue-color;
        font-size: 1.6rem;
        text-align: center;
    }

}

#img-div {
    background-color: #C4C4C4;
    padding: 13px;

    #image {
        max-width: 100%;
        display: block;
        height: auto;
        margin: 0 auto;
    }
    
    #tribute-info {
        font-size: 1rem;
        color: $darkBlue-color;
        width: 90%;
        text-align: center;
        margin: 8px auto 0;
    }
}

#quote {
    max-width: 462px;
    margin: 10px auto;
    font-size: 1.6rem;
    color: $darkBlue-color;
    font-style: italic;
    text-align: center;
}

#timeline {
    background-color: $darkBlue-color;
    padding: 30px 13px;

    #title-timeline {
        font-size: 1.6rem;
        font-weight: 500;
        color: $orange-color;
        text-align: center;
        margin-bottom: 30px;
    }

    ul {    
        max-width: 550px;
        margin: 0 auto;
        list-style-position: inside;
    
        li {
            font-size: 1.4rem;
            color: $white-color;
            margin: 20px auto;
            
        }
    }

    #tribute-link {
        max-width: 320px;
        font-size: 1rem;
        color: $white-color;
        font-weight: 500;
        text-align: center;
        margin: 0 auto 60px auto;
    }
}
